
h2{
  text-align: center;
  text-decoration: underline;
  padding:10px;
  margin-bottom:50px;
}

.App {
  font-family: sans-serif;
  text-align: center;
}
.box {
  width:600px;
  padding:50px;
  margin:20px auto;
  background-color: rgb(0, 255, 208);
  border: 1px solid black;
  text-align:left;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
.box div {
  background-color:#ffffff;
  border: 1px solid black;
  margin:30 auto;
  padding: 40px;
  justify-content: center;
  align-items: center;
  
}
.box h3{
  text-decoration: underline;
}
.box p{
  margin:30px auto;
}
.zengetu {
  order: 0;
}
.kansei {
  order: 1;
}
.tougetu {
  order: 2;
}
.getumatu {
  order: 3;
}
.modal-input{
  width:40px;
}

.home-top{
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-explanation{
  font-size:1.3rem;
  border: 3px solid black;
  padding:30px;
  margin:auto;
  width:clamp(12.5rem, -6.818rem + 96.59vw, 65.625rem);
  text-align: center;
}
.top-calu table{
  width:600px;
  border: 1px solid black;
  margin-bottom:50px;
}
.top-calu tr td{
  border:1px solid  black;
}

.top-calu{
  display: flex;
  justify-content:center;
  align-items: center;
  gap:30px;
}

/* スマートフォン対応 */
@media (max-width: 768px) {
  .box {
    flex-direction: column;
    width:60%;
  }

  
  .box div {
    flex: 1 1 100%; /* スマートフォンでは各要素を100%幅にする */
    margin: 10px 0;
  }
  .top-calu table{
    display: none;
  }
}

/* タブレット対応 */
@media (min-width: 769px) and (max-width: 1024px) {
  .box div {
    flex: 1 1 calc(50% - 10px); /* タブレットでは50%幅を維持 */
  }
}